<template>
  <q-page>
    <div class="q-pa-md">
      <!-- Badges-->
      <water-switcher-badges
        :totalWaterSwitcher="totalWaterSwitcher"
        :assignedWaterSwitcher="assignedWaterSwitcher"
        :nonAssignedWaterSwitcher="nonAssignedWaterSwitcher"
      ></water-switcher-badges>

      <!-- Table -->
      <div class="row justify-center">
        <div class="col-md-12">
          <water-switcher-table></water-switcher-table>
        </div>
      </div>
    </div>
  </q-page>
</template>


<script>
import WaterSwitcherTable from "src/apps/water_switcher/components/WaterSwitcherTable.vue";
import WaterSwitcherBadges from "src/apps/water_switcher/components/WaterSwitcherBadges.vue";
import ApiServices from "src/services/ApiServices";
import {WATER_SWITCHER_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: "WaterSwitcher",
  components: {WaterSwitcherBadges, WaterSwitcherTable},
  data() {
    return {
      totalWaterSwitcher: 0,
      assignedWaterSwitcher: 0,
      nonAssignedWaterSwitcher: 0,
    };
  },
  mounted() {
    this.fetchStatsData();
  },
  methods: {
    async fetchStatsData() {
      try {
        const response = await ApiServices.getStatsByEntityName(WATER_SWITCHER_ENTITY_NAME);
        const data = response.data;
        this.totalWaterSwitcher = data.total_water_switchers;
        this.assignedWaterSwitcher = data.assigned_water_switchers;
        this.nonAssignedWaterSwitcher = data.non_assigned_water_switchers;
      } catch (error) {
        console.error('Error fetching chart data:', error);
      }
    }
  }
}
</script>
