<template>
  <q-page>
    <div class="q-pa-md">
      <div class="row justify-center">
        <div class="col-md-12">
          <tree-badges
            :totalTrees
            :totalVarieties
            :treeAverageAge
          ></tree-badges>
          <tree-table></tree-table>
        </div>
      </div>
    </div>
  </q-page>
</template>


<script>
import TreeTable from "src/apps/tree/components/TreeTable.vue";
import TreeBadges from "src/apps/tree/components/TreeBadges.vue";
import ApiServices from "src/services/ApiServices";
import {TREE_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: "TreePage",
  components: {TreeBadges, TreeTable},
  data() {
    return {
      totalTrees: 0,
      totalVarieties: 0,
      treeAverageAge: "",
    };
  },
  mounted() {
    this.fetchStatsData();
  },
  methods: {
    async fetchStatsData() {
      try {
        const response = await ApiServices.getStatsByEntityName(TREE_ENTITY_NAME);
        const data = response.data;
        this.totalTrees = data.total_trees;
        this.totalVarieties = data.total_varieties;
        this.treeAverageAge = data.tree_average_age;
      } catch (error) {
        console.error('Error fetching chart data:', error);
      }
    }
  }
}
</script>
