<template>
  <q-page>
    <div class="q-pa-md">
      <!-- Badges-->
      <water-source-badges
        :totalWaterSource="totalWaterSource"
        :assignedWaterSource="assignedWaterSource"
        :nonAssignedWaterSource="nonAssignedWaterSource"
      ></water-source-badges>

      <!-- Table -->
      <div class="row justify-center">
        <div class="col-md-12">
          <water-source-table></water-source-table>
        </div>
      </div>
    </div>
  </q-page>
</template>


<script>

import WaterSourceBadges from "src/apps/water_source/components/WaterSourceBadges.vue";
import WaterSourceTable from "src/apps/water_source/components/WaterSourceTable.vue";
import ApiServices from "src/services/ApiServices";
import {WATER_SOURCE_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: "WaterSource",
  components: {WaterSourceBadges, WaterSourceTable},
  data() {
    return {
      totalWaterSource: 0,
      assignedWaterSource: 0,
      nonAssignedWaterSource: 0,
    };
  },
  mounted() {
    this.fetchStatsData();
  },
  methods: {
    async fetchStatsData() {
      try {
        const response = await ApiServices.getStatsByEntityName(WATER_SOURCE_ENTITY_NAME);
        const data = response.data;
        this.totalWaterSource = data.total_water_sources;
        this.assignedWaterSource = data.assigned_water_sources;
        this.nonAssignedWaterSource = data.non_assigned_water_sources;
      } catch (error) {
        console.error('Error fetching chart data:', error);
      }
    }
  }
}
</script>
