<template>

  <div>
    <q-input @keyup="submit" type="text" rounded outlined bottom-slots v-model="search"
             label="Rechercher ..." dense>
      <template v-slot:hint>

      </template>
      <template v-slot:append>
        <q-icon v-if="search !== ''" name="close" @click="reset()" class="cursor-pointer"/>
        <q-icon name="search"/>
      </template>
    </q-input>

  </div>
</template>

<script>

import {GET_ENTITY_LIST, SET_ENTITY_LIST} from "src/store/Entity/mutation-types";

export default {
  name: "EntitySearchInput",
  props: {entityName: {type: String, required: true}},
  data() {
    return {
      search: '',
      timeout: null
    };
  },
  methods: {
    submit() {
      // clear timeout variable
      clearTimeout(this.timeout);
      const self = this;
      this.timeout = setTimeout(function () {
        self.load(self.search);
      }, 500);
    },
    async load(search) {
      if (search === '') {
        await this.reset();
      } else {
        await this.$store.dispatch(GET_ENTITY_LIST, {filter: {search: search}, entityName: this.entityName});
      }
    },
    async reset() {
      this.search = '';
      this.$store.commit(SET_ENTITY_LIST, {data: null, entityName: this.entityName});
      await this.$store.dispatch(GET_ENTITY_LIST, {entityName: this.entityName});
    },
  }
}
</script>

<style scoped>

</style>
