<template>
  <div>
    <q-dialog v-if="!$q.platform.is.mobile"
              v-model="dialog"
              persistent
    >
      <q-card class="rounded-borders">
        <q-bar>
          <q-icon v-if="currentEntityId"
                  name="edit"
          />

          <q-icon v-else
                  name="add"
          />
          <div class="text-h6">
            {{ DISPLAY[entityName].name.toUpperCase() }}
          </div>
          <q-space/>

          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip>Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section>
          <EntityForm
            v-if="entityFormDialog"
            :entityId="currentEntityId"
            :fields="fields"
            :empty-entity="emptyEntity"
            :entity-name="entityName"
            :cached-fields="cachedFields"
            @saved="updated"
          />
          <div v-if="filterDialog">
            <FormGenerator
              :fields="filterFields"
              @save="filterData"
            ></FormGenerator>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-else v-model="dialog" position="bottom">
      <q-card class="rounded-borders" v-touch-swipe.mouse="handleSwipe" style="margin-bottom: -35px;">
        <q-card-section>
          <EntityForm
            v-if="entityFormDialog"
            :entityId="currentEntityId"
            :fields="fields"
            :empty-entity="emptyEntity"
            :entity-name="entityName"
            :cached-fields="cachedFields"
            @saved="updated"


          />
          <div v-if="filterDialog">
            <FormGenerator
              :fields="filterFields"
              @save="filterData"
            ></FormGenerator>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Card containing the q-table -->
    <q-card :style="{ height: dynamicHeight }">
      <div class="row  justify-end" style="padding: 1vh">
        <div v-if="searchBar" class="col-11  ">
          <q-input @keyup="submit" type="text" rounded outlined bottom-slots v-model="search"
                   :label="searchLabel" dense>
            <template v-slot:hint>
              <q-spinner-dots v-if="loading " size="30" color="red"/>
              <span v-else-if="entities.count!==0" style="font-size: large">{{
                  entities.count
                }} {{ DISPLAY[entityName].name }}</span>
            </template>
            <template v-slot:append>
              <q-icon v-if="search !== ''" name="close" @click="reset()" class="cursor-pointer"/>
              <q-icon name="search"/>
            </template>
          </q-input>
        </div>
        <div class="col-1 text-right">
          <q-btn
            v-if="allowAdd"
            class=" text-white "
            style=" margin-left: 4px;"
            icon="add"
            color="red"
            round
            @click="dialog = true ; entityFormDialog = true"
          />

          <q-btn
            v-show="filterFields.length>0"
            class=" text-white "
            style=" margin-left: 4px;"
            :icon="showFilter ? 'close' : 'filter_list'"
            color="blue"
            round
            @click="showFilter = !showFilter"
          />
        </div>
      </div>
      <div v-show="showFilter" class="q-pa-md bg-grey-1">
        <FormGenerator
          cols="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"
          :fields="filterFields"
          @save="filterData"
          btnLabel="Search"
        ></FormGenerator>
      </div>
      <q-table
        flat bordered
        dense
        :rows="entities.list"
        :columns="columns"
        row-key="name"
        :loading="loading"

      >

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td v-for="col in columns" :key="col.name" :props="props">
              <slot v-if="col.name!=='actions'" :name="col.name" :row="props.row">{{ props.row[col.name] }}</slot>
              <slot v-else :name="col.name" :row="props.row">

                <div class=" q-gutter-sm">
                  <q-btn v-if="allowUpdate" round color="blue" icon="edit"
                         @click="currentEntityId = props.row.id; dialog = true; entityFormDialog = true"/>
                  <q-btn v-if="allowDelete" round color="red" icon="delete"
                         @click="deleteEntity(props.row.id)"/>
                </div>
              </slot>
            </q-td>
          </q-tr>
          <q-tr v-if="props.rowIndex + 1 === entities.list.length && entities.next">
            <q-td colspan="100%" class="">
              <div class="row justify-center">
                <q-spinner-dots v-intersection="onIntersection" size="50" color="red"/>
              </div>
            </q-td>

          </q-tr>

        </template>

      </q-table>
    </q-card>
  </div>
</template>

<script>

import {DELETE_ENTITY, GET_ENTITY_LIST, SET_ENTITY_LIST} from "src/store/Entity/mutation-types";
import {EntityList, EntityListActions} from "src/store/Entity/helpers";

import EntityForm from "components/entity/EntityForm.vue";
import {DISPLAY} from "src/store/Entity/display";
import FormGenerator from "components/global/FormGenerator.vue";


export default {
  name: "EntityTable",
  components: {FormGenerator, EntityForm},
  props: {
    baseFilter: {
      type: Object,
      default: () => {
        return {}
      }
    },
    emptyEntity: {
      type: Object,
      required: false,
      default: () => ({})
    },
    fields: {
      type: Array,
      required: true
    },
    cachedFields: {
      type: Array,
      required: false
    },
    columns: {
      type: Array,
      required: true
    },
    entityName: {
      type: String,
      required: true
    },
    hideHeader: {
      type: Boolean,
      required: false,
      default: false
    },
    searchBar: {
      type: Boolean,
      required: false,
      default: false
    },
    filterFields: {
      type: Array,
      required: false,
      default: () => []
    },
    allowAdd: {
      type: Boolean,
      required: false,
      default: true
    },
    allowUpdate: {
      type: Boolean,
      required: false,
      default: true
    },
    allowDelete: {
      type: Boolean,
      required: false,
      default: true
    },
    destroyOnQuit: {
      type: Boolean,
      required: false,
      default: true
    },
    searchLabel: {
      type: String,
      required: false
    },


  },
  data() {
    return {
      pagination: {
        rowsPerPage: 0
      },
      loading: true,
      dialog: false,
      showFilter: false,
      filterDialog: false,
      entityFormDialog: false,
      currentEntityId: null,
      timeout: null,
      search: '',
      DISPLAY,
      dynamicHeight: 'auto', // Initially set to auto

    };
  },
  created() {
    this.loadEntities()
  },
  computed: {
    ...EntityList,
    entities() {
      return this.getEntityList(this.entityName);
    },
    totalItems() {
      return this.entities.list.length;
    },

  },
  methods: {
    ...EntityListActions,
    async loadEntities() {
      this.loading = true;
      if (this.getEntityList(this.entityName).length > 0) {
        this.loading = false;
        return;

      }
      await this.GET_ENTITY_LIST({
        entityName: this.entityName,
        filter: this.baseFilter,
      })

      this.loading = false;

    },
    loadMoreEntities() {
      this.loading = true;
      this.GET_ENTITY_LIST({
        entityName: this.entityName
      })
      this.loading = false;
    },
    async deleteEntity(id) {
      this.loading = true;

      await this.$store.dispatch(DELETE_ENTITY, {
        entityName: this.entityName,
        entityId: id
      });

      this.loading = false;
    },
    submit() {
      // clear timeout variable
      clearTimeout(this.timeout);
      const self = this;
      this.timeout = setTimeout(function () {
        self.makeSearch(self.search);
      }, 500);
    },
    async makeSearch(search) {
      /*
      * if search is empty reset the table
      * else make a search by calling the api with the search param
       */
      if (search === '') {
        await this.reset();

      } else {
        this.loading = true;
        const filter = {...this.baseFilter, search: search};
        await this.$store.dispatch(GET_ENTITY_LIST, {filter: filter, entityName: this.entityName});
        this.loading = false;
      }
    },
    reset() {
      this.search = '';
      this.loading = true;
      this.loadEntities()
    },
    onIntersection(entry) {
      if (entry.isIntersecting) {
        this.loadMoreEntities();
      }
    },
    handleSwipe({evt, ...newInfo}) {
      if (newInfo.direction === "down") {
        this.dialog = false;
      }
    },
    async filterData(data) {
      // alert(JSON.stringify(data));

      this.loading = true;
      await this.$store.dispatch(GET_ENTITY_LIST, {filter: data, entityName: this.entityName});
      this.$emit("filterData", data);
      this.dialog = false;
      this.loading = false;
    },
    updated(entity) {
      this.dialog = false;
      if (!this.currentEntityId) {
        this.$emit("created", entity);
      }
      this.$emit("updated");
    },

    calculateDynamicHeight() {
      // Calculate the height based on the number of items
      const rowHeight = 40; // Adjust this value as needed
      const headerHeight = 40; // Adjust this value as needed
      const paginationHeight = 48; // Adjust this value as needed

      const totalHeight = this.totalItems * rowHeight + headerHeight + paginationHeight;
      this.dynamicHeight = `${totalHeight}px`;
    },
  },
  unmounted() {
    if (this.destroyOnQuit) {
      this.$store.commit(SET_ENTITY_LIST, {
        entityName: this.entityName,
        data: null,

      });
    }
  },
  watch: {
    dialog: function (val) {
      if (!val) {
        this.currentEntityId = null;
        this.entityFormDialog = false;
        this.filterDialog = false;

      }
    }
  }
}
</script>

<style lang="scss">
.my-sticky-virtscroll-table {
  /* height or max-height is important */
  //height: 80vh;
  max-height: 90vh;
}

.q-table__top,
.q-table__bottom,
thead tr:first-child th {
  /* bg color is important for th; just specify one */
  background-color: #fff;
}

thead tr th {
  position: sticky;
  z-index: 1;
}

/* this will be the loading indicator */

thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}

thead tr:first-child th {
  top: 0;
}

</style>
