<template>
  <div>
    <!--    loading-->
    <div v-if="loading" class="text-center">
      <q-spinner color="red" size="50px"/>
    </div>
    <FormGenerator v-if="entity"
                   :data="entity"
                   :fields="fields"
                   :cached-fields="cachedFields"
                   @save="save"
                   :loading="loading"
    ></FormGenerator>
  </div>

</template>

<script>
import {GET_ENTITY, SAVE_ENTITY, SET_CURRENT_ENTITY} from "src/store/Entity/mutation-types";
import {CurrentEntity} from "src/store/Entity/helpers";
import FormGenerator from "components/global/FormGenerator.vue";


export default {
  name: "EntityForm",
  components: {FormGenerator},
  props: {
    entityId: {
      type: Number,
      required: false,
      default: null
    },
    fields: {
      type: Array,
      required: true
    },
    emptyEntity: {
      type: Object,
      required: false,
      default: () => ({})
    },
    entityName: {
      type: String,
      required: true
    },
    saveEntity: {
      type: Boolean,
      required: false,
      default: true
    },
    cachedFields: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    async save(data) {
      /*
      * if saveEntity is false, we just emit the save event
       */

      if (!this.saveEntity) {
        await this.$emit("saveEntity", data);
        return;
      }

      this.loading = true;
      const entity = await this.$store.dispatch(SAVE_ENTITY, {
        entityName: this.entityName,
        entity: data,
        entityId: this.entityId
      });
      this.loading = false;
      //emit event
      this.$emit("saved", entity);

    }
  }
  ,
  async created() {
    
    if (this.entityId) {
      this.loading = true;
      await this.$store.dispatch(GET_ENTITY, {entityId: this.entityId, entityName: this.entityName});
      this.loading = false;
    } else {
      this.$store.commit(SET_CURRENT_ENTITY, {entity: this.emptyEntity, entityName: this.entityName});
    }

  },
  unmounted() {
    this.$store.commit(SET_CURRENT_ENTITY, {entity: null, entityName: this.entityName});
  },
  computed: {
    ...CurrentEntity,
    entity() {
      return this.getCurrentEntity(this.entityName);
    }
  }
}
</script>

<style scoped>

</style>
