<template>
  <q-page>
    <div class="q-pa-md">
      <!-- Badges-->
      <users-badges
        :total_users="total_users"
        :total_owners="total_owners"
        :total_admins="total_admins"
        :total_workers="total_workers"
        :total_engineers="total_engineers"
      ></users-badges>
      <!-- Tables -->
      <user-table></user-table>
    </div>
  </q-page>
</template>

<script>
import UserTable from "src/apps/users/components/UserTable.vue";
import UsersBadges from "src/apps/users/components/UsersBadges.vue";
import ApiServices from "src/services/ApiServices";
import {USER_ENTITY_NAME} from "src/store/Entity/mutation-types"; // Adjust the import path as necessary

export default {
  name: "UsersPage",
  components: {
    UserTable,
    UsersBadges
  },
  data() {
    return {
      total_users: 0,
      total_owners: 0,
      total_admins: 0,
      total_workers: 0,
      total_engineers: 0,
    };
  },
  mounted() {
    this.fetchStatsData();
  },
  methods: {
    async fetchStatsData() {
      try {
        const response = await ApiServices.getStatsByEntityName(USER_ENTITY_NAME);
        const data = response.data;
        this.total_users = data.total_users;
        this.total_owners = data.total_owners;
        this.total_admins = data.total_admins;
        this.total_workers = data.total_workers;
        this.total_engineers = data.total_engineers;
      } catch (error) {
        console.error('Error fetching chart data:', error);
      }
    }
  }
}

</script>

<style scoped>
</style>
