<template>
  <q-page>
    <div class="q-pa-md">
      <!-- Badges-->
      <irrigation-tasks-badges
        :totalTasks="totalTasks"
        :averageTasksPerMonth="averageTasksPerMonth"
        :averageTasksPerZone="averageTasksPerZone"
      ></irrigation-tasks-badges>

      <!-- Chart -->
      <div v-if="Object.keys(chartData).length > 0" class="row justify-center">
        <div class="col-md-11">
          <q-card class="my-card">
            <q-card-section style="padding: 5px;">
              <irrigation-tasks-chart :chartData="chartData"></irrigation-tasks-chart>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <!-- Table -->
      <div class="row justify-center">
        <div class="col-md-12">
          <irrigation-tasks-table></irrigation-tasks-table>
        </div>
      </div>
    </div>
  </q-page>
</template>


<script>
import IrrigationTasksTable from "src/apps/irrigation-tasks/components/IrrigationTasksTable.vue";
import IrrigationTasksBadges from "src/apps/irrigation-tasks/components/IrrigationTasksBadges.vue";
import IrrigationTasksChart from "src/apps/irrigation-tasks/components/IrrigationTasksChart.vue";
import ApiServices from "src/services/ApiServices";

import {IRRIGATION_TASKS_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: "IrrigationTasksPage",
  components: {IrrigationTasksTable, IrrigationTasksBadges, IrrigationTasksChart},
  data() {
    return {
      totalTasks: 0,
      averageTasksPerMonth: 0,
      averageTasksPerZone: 0,
      chartData: {}
    };
  },
  mounted() {
    this.fetchStatsData();
  },
  unmounted() {
    this.totalTasks =0;
    this.averageTasksPerMonth = 0;
    this.averageTasksPerZone = 0;
    this.chartData = 0;
  },
  methods: {
    async fetchStatsData() {
      try {
        const response = await ApiServices.getStatsByEntityName(IRRIGATION_TASKS_ENTITY_NAME);
        const data = response.data;
        this.totalTasks = data.total_tasks;
        this.averageTasksPerMonth = data.average_tasks_per_month;
        this.averageTasksPerZone = data.average_tasks_per_zone;
        this.chartData = data.chart_data;
      } catch (error) {
        console.error('Error fetching chart data:', error);
      }
    }
  }
}
</script>
