<template>
  <div class="q-pa-md example-row-all-breakpoints">
    <div class="row">
      <!-- Total Irrigation's tasks -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Water Source</div>
            <div style="font-size: 14px;">{{ totalWaterSource }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per month -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Assigned Water Source</div>
            <div style="font-size: 14px;">{{ assignedWaterSource }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per Zone -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-red-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Non Assigned Water Source</div>
            <div style="font-size: 14px;">{{ nonAssignedWaterSource }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WaterSourceBadges',
  props: {
    totalWaterSource: {
      type: Number,
      required: true
    },
    assignedWaterSource: {
      type: Number,
      required: true
    },
    nonAssignedWaterSource: {
      type: Number,
      required: true
    }
  }
}
</script>
