<template>

  <div class="q-pa-md">
    <EntityTable
      :entity-name="entityName"
      :fields="fields"
      :columns="columns"
      search-bar

      :searchLabel="'Search by Serial Number ...'"
      :allowAdd="getLoggedUser.is_superuser"
      :allow-update="getLoggedUser.is_superuser"
      :allow-delete="getLoggedUser.is_superuser"
    >
      <!-- Status Badge Template -->
      <template v-if="!$q.platform.is.mobile" v-slot:status="{row}">
        <q-badge v-if="row.status === 'On'" outline color="green" label="On"/>
        <q-badge v-else-if="row.status === 'Off'" outline color="red" label="Off"/>
        <q-badge v-else outline color="grey" label="Unknown Status"/>
      </template>
    </EntityTable>
  </div>
</template>
<script>
import EntityTable from "components/entity/EntityTable.vue";
import {CurrentUser} from "src/apps/users/store/helpers";
import {waterSourceFields} from "src/apps/water_source/models/water_source";
import {waterSourceColumns} from "src/apps/water_source/admin/water_source";
import {WATER_SOURCE_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: 'WaterSourceTable',
  methods: {},
  components: {EntityTable},
  props: {
    baseFilter: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      entityName: WATER_SOURCE_ENTITY_NAME,
      fields: waterSourceFields,
      columns: waterSourceColumns,

    }
  },
  computed: {
    ...CurrentUser,
  }
}
</script>
<style scoped>

</style>
