<template>
  <q-page>
    <div class="q-pa-md">
      <!-- Badges -->
      <farm-badges
        :totalZones="totalZones"
        :totalTrees="totalTrees"
        :totalWaterSources="totalWaterSources"
      ></farm-badges>

      <!-- Farm Info & Map -->
      <div class="q-pa-md">
        <div class="row">
          <div class="col">
            <farm-info v-if="farmDataLoaded" :name="farmName" :address="farmAddress" :size="farmSize"></farm-info>
          </div>
          <div class="col">
            <farm-map-view v-if="farmDataLoaded" :farmName="farmName" :latitude="farmLatitude"
                           :longitude="farmLongitude"></farm-map-view>
          </div>
        </div>

      </div>


      <!-- Chart -->
      <div v-if="Object.keys(chartData).length > 0" class="row justify-center">
        <div class="col-md-11">
          <q-card class="my-card">
            <q-card-section style="padding: 5px;">
              <FarmWaterConsumptionChart :chartData="chartData"></FarmWaterConsumptionChart>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>


<script>
import FarmBadges from "src/apps/farm/components/FarmBadges.vue";
import ApiServices from "src/services/ApiServices";
import FarmWaterConsumptionChart from "src/apps/farm/components/FarmWaterConsumptionChart.vue";
import FarmInfo from "src/apps/farm/components/FarmInfo.vue";
import FarmMapView from "src/apps/farm/components/FarmMapView.vue";
import {FARM_ENTITY_NAME} from "src/store/Entity/mutation-types";
import {CurrentUser} from "src/apps/users/store/helpers";

export default {
  name: "FarmPage",
  components: {FarmMapView, FarmInfo, FarmWaterConsumptionChart, FarmBadges},
  data() {
    return {
      farmDataLoaded: false, // Flag to indicate if farm data has been loaded
      totalZones: 0,
      totalTrees: 0,
      totalWaterSources: 0,
      chartData: {},
      farmLatitude: 0,
      farmLongitude: 0,
      farmName: "",
      farmOwner: "",
      farmSize: 0,
      farmAddress: "",
    }
  },
  mounted() {
    this.fetchStatsData();
    this.fetchFarmInfo();
  },
  methods: {
    async fetchStatsData() {
      try {
        const response = await ApiServices.getStatsByEntityName(FARM_ENTITY_NAME, this.getLoggedUser.farm_name);
        const data = response.data;
        this.totalZones = data.total_zones;
        this.totalTrees = data.total_trees;
        this.totalWaterSources = data.total_water_sources;
        this.chartData = data.chart_data;
      } catch (error) {
        console.error('Error fetching chart data:', error);
      }
    },
    async fetchFarmInfo() {
      try {
        // TODO seif fix this later it should return only my Farm
        const response = await ApiServices.getByEntityIdentifier(this.getLoggedUser.farm_name, FARM_ENTITY_NAME)
        this.farmName = response.data.farm_name
        this.farmSize = response.data.size
        this.farmAddress = response.data.address
        this.farmLatitude = response.data.location["latitude"]
        this.farmLongitude = response.data.location["longitude"]
        this.farmDataLoaded = true
      } catch (error) {
        console.error('Error fetching chart data:', error);
      }
    }
  },
  computed: {
    ...CurrentUser,
  }
};
</script>
