<template>
  <div class="q-pa-md example-row-all-breakpoints">
    <div class="row">
      <!-- Total Irrigation's tasks -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Water Switcher</div>
            <div style="font-size: 14px;">{{ totalWaterSwitcher }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per month -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Assigned Water Switcher</div>
            <div style="font-size: 14px;">{{ assignedWaterSwitcher }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per Zone -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-red-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Non Assigned Water Switcher</div>
            <div style="font-size: 14px;">{{ nonAssignedWaterSwitcher }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WaterSwitcherBadges',
  props: {
    totalWaterSwitcher: {
      type: Number,
      required: true
    },
    assignedWaterSwitcher: {
      type: Number,
      required: true
    },
    nonAssignedWaterSwitcher: {
      type: Number,
      required: true
    }
  }
}
</script>
