<template>

  <div class="q-pa-md">
    <EntityTable
      :entity-name="entityName"
      :fields="fields"
      :columns="columns"
      search-bar
      :base-filter="baseFilter"
      :searchLabel="'Search by Serial Number ...'"
      :filter-fields="filterFields"
      :allowAdd="getLoggedUser.is_superuser"
      :allow-update="getLoggedUser.is_superuser"
      :allow-delete="getLoggedUser.is_superuser"
    >
      <!-- Status Badge Template -->
      <template v-if="!$q.platform.is.mobile" v-slot:status="{row}">
        <q-badge v-if="row.status === 'On'" outline color="green" label="On"/>
        <q-badge v-else-if="row.status === 'Off'" outline color="red" label="Off"/>
        <q-badge v-else outline color="grey" label="Unknown Status"/>
      </template>
    </EntityTable>
  </div>
</template>
<script>
import EntityTable from "components/entity/EntityTable.vue";
import {CurrentUser} from "src/apps/users/store/helpers";
import {waterSwitcherColumns} from "src/apps/water_switcher/admin/water_switcher";
import {waterSwitcherFields, waterSwitcherFilterFields} from "src/apps/water_switcher/models/water_switcher";
import {WATER_SWITCHER_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: 'WaterSwitcherTable',
  methods: {},
  components: {EntityTable},
  props: {
    baseFilter: {
      type: Object,
      default: () => {
        return {}
      }
    },
  },
  data() {
    return {
      entityName: WATER_SWITCHER_ENTITY_NAME,
      fields: waterSwitcherFields,
      columns: waterSwitcherColumns,
      filterFields: waterSwitcherFilterFields,

    }
  },
  computed: {
    ...CurrentUser,
  }
}
</script>
<style scoped>

</style>
