<template>
  <q-card class="farm-info-card">
    <q-card-section class="card-header text-h6">
      {{ name }}
    </q-card-section>
    <q-card-section class="card-content">
      <div class="q-mb-sm">
        <strong>Surface area:</strong> {{ size.toLocaleString() }} hectare
      </div>
      <div>
        <strong>Address:</strong> {{ address }}
      </div>
    </q-card-section>
  </q-card>
</template>


<script>
export default {
  name: 'FarmInfo',
  props: {
    name: {
      type: String,
      required: true
    },
    size: {
      type: Number,
      required: true
    },
    address: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.farm-info-card {
  height: 400px; /* Fixed height */
  margin-right: 20px; /* Right margin */
  background-color: #f9f9f9; /* Light background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.card-content div {
  display: flex;
  justify-content: space-between;
}

.card-content strong {
  color: #555; /* Slightly darker text color */
}
</style>
