<template>
  <q-card class="bg-white q-pa-none full-width">
    <q-card-section class="chart-container">
      <canvas ref="chartCanvas"></canvas>
    </q-card-section>
  </q-card>
</template>


<script>
import Chart from 'chart.js/auto';

export default {
  name: 'FarmWaterConsumptionChart',
  props: {
    chartData: {
      type: Object,
      required: true
    },
    barColors: {
      type: Array,
      default: () => ['#3e95cd', '#8e5ea2', '#3cba9f', '#e8c3b9', '#c45850', '#FF5733', '#FFBD33', '#33FF57', '#33FFBD']
    }
  },
  mounted() {
    this.createChart();
  },
  methods: {
    createChart() {
      const ctx = this.$refs.chartCanvas;
      const months = Object.keys(this.chartData);
      const zones = Object.keys(this.chartData[months[0]]); // Get zones from the first month
      const datasets = zones.map((zone, index) => ({
        label: zone,
        backgroundColor: this.barColors[index] || '#' + Math.floor(Math.random() * 16777215).toString(16), // Use provided color or random color
        data: months.map(month => this.chartData[month][zone]),
        borderColor: this.barColors[index] || '#' + Math.floor(Math.random() * 16777215).toString(16), // Border color matches background
        fill: false, // No fill for line charts
        tension: 0.4 // Smoothing of the line
      }));

      new Chart(ctx, {
        type: 'line',
        data: {
          labels: months,
          datasets: datasets
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: true,
              position: 'top',
              labels: {
                font: {
                  size: 14
                }
              }
            },
            tooltip: {
              enabled: true,
              backgroundColor: 'rgba(0, 0, 0, 0.7)',
              titleFont: {size: 16},
              bodyFont: {size: 14}
            }
          },
          scales: {
            x: {
              title: {
                display: true,
                text: 'Month',
                color: '#333',
                font: {
                  size: 16,
                  weight: 'bold'
                }
              },
              ticks: {
                color: '#333'
              }
            },
            y: {
              title: {
                display: true,
                text: 'Water Consumption (m3)',
                color: '#333',
                font: {
                  size: 16,
                  weight: 'bold'
                }
              },
              ticks: {
                color: '#333'
              }
            }
          }
        }
      });
    }
  }
}
</script>


<style scoped>
.chart-container {
  height: 100%; /* Fill entire card height */
  width: 100%; /* Fill entire card width */
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
</style>
