<template>
  <div class="q-pa-md example-row-all-breakpoints">
    <div class="row">
      <!-- Total Irrigation's tasks -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Zones</div>
            <div style="font-size: 14px;">{{ totalZones }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per month -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Trees</div>
            <div style="font-size: 14px;">{{ totalTrees }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per Zone -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Water sources</div>
            <div style="font-size: 14px;">{{ totalWaterSources }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FarmBadges',
  props: {
    totalZones: {
      type: Number,
      required: true
    },
    totalTrees: {
      type: Number,
      required: true
    },
    totalWaterSources: {
      type: Number,
      required: true
    }
  }
}
</script>
