<template>
  <div class="farm-map-container">
    <div :id="mapId" class="farm-map"></div>
  </div>
</template>

<script>
import { onMounted, ref } from 'vue';
import 'leaflet/dist/leaflet.css';
import * as L from 'leaflet';

export default {
  name: 'FarmMapView',
  props: {
    latitude: {
      type: Number,
      required: true
    },
    longitude: {
      type: Number,
      required: true
    },
    farmName: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const mapId = 'farm-map';
    const mapInitialized = ref(false); // Track if the map is initialized

    onMounted(() => {
      if (!mapInitialized.value) { // Check if the map is not already initialized
        const initialMap = L.map(mapId).setView([props.latitude, props.longitude], 7);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(initialMap);

        // Use a default marker icon
        const markerIconUrl = 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon.png';

        // Define custom icon
        const customIcon = L.icon({
          iconUrl: markerIconUrl,
          iconSize: [24, 41], // Size of the icon
          iconAnchor: [12, 41], // Point of the icon which will correspond to marker's location
          popupAnchor: [0, -41] // Point from which the popup should open relative to the iconAnchor
        });

        // Add marker with custom icon
        const marker = L.marker([props.latitude, props.longitude], { icon: customIcon }).addTo(initialMap);
        marker.bindPopup(`<b>${props.farmName}</b><br>Latitude: ${props.latitude}, Longitude: ${props.longitude}`).openPopup();

        mapInitialized.value = true; // Set mapInitialized to true after initialization
      }
    });

    return {
      mapId
    };
  }
};
</script>

<style scoped>
.farm-map-container {
  height: 400px; /* Set the height of the map container */
}

.farm-map {
  height: 100%; /* Ensure the map fills the container */
}
</style>
