<template>
  <q-page>
    <div class="q-pa-md">
      <!-- Badges-->
      <sensor-badges
        :totalSensors="totalSensors"
        :assignedSensors="assignedSensors"
        :nonAssignedSensors="nonAssignedSensors"
      ></sensor-badges>

      <!-- Tables -->
      <div class="row justify-center">
        <div class="col-md-12">
          <sensor-table></sensor-table>
        </div>
      </div>
    </div>
  </q-page>
</template>


<script>
import ApiServices from "src/services/ApiServices";
import SensorTable from "src/apps/sensors/components/SensorTable.vue";
import SensorBadges from "src/apps/sensors/components/SensorBadges.vue";
import {SENSOR_ENTITY_NAME} from "src/store/Entity/mutation-types";


export default {
  name: "SensorsPage",
  components: {SensorTable, SensorBadges},
  props: {
    zone: {
      type: Number,
      default: null // Default value is null when no zone is provided
    }
  },
  data() {
    return {
      totalSensors: 0,
      assignedSensors: 0,
      nonAssignedSensors: 0,
      chartData: {}
    };
  },
  mounted() {
    this.fetchStatsData();
    if (this.zone !== null) {
      console.log('Zone ID:', this.zone);
      // Fetch data for specific zone
    } else {
      console.log('No Zone ID provided, showing all sensors');
      // Fetch data for all zones
    }
  },
  methods: {
    async fetchStatsData() {
      try {
        const response = await ApiServices.getStatsByEntityName(SENSOR_ENTITY_NAME);
        const data = response.data;
        this.totalSensors = data.total_sensors;
        this.assignedSensors = data.assigned_sensors;
        this.nonAssignedSensors = data.non_assigned_sensors;
      } catch (error) {
        console.error('Error fetching chart data:', error);
      }
    }
  }
}
</script>
