<template>

  <div class="q-pa-md">
    <EntityTable
      :entity-name="entityName"
      :fields="fields"
      :columns="columns"
      search-bar
      :base-filter="baseFilter"
      :filter-fields="filterFields"
      :searchLabel="'Search by Zone Name ...'"
      :allowAdd="getLoggedUser.is_superuser"
      :allow-update="getLoggedUser.is_superuser"
      :allow-delete="getLoggedUser.is_superuser"
    >
      <template v-slot:zone_name="row">
        <RouterLink :to="{name: 'zoneDetails', params: {zoneId:  row.row.id}}"> {{ row.row.zone_name }}</RouterLink>
      </template>
    </EntityTable>
  </div>
</template>
<script>
import EntityTable from "components/entity/EntityTable.vue";
import {zoneFields, zoneFilterFields} from "src/apps/zones/models/zones";
import {zoneColumns} from "src/apps/zones/admin/zone";

import {ZONE_ENTITY_NAME} from "src/store/Entity/mutation-types";
import {CurrentUser} from "src/apps/users/store/helpers";

export default {
  name: 'ZoneTable',
  methods: {},
  components: {EntityTable},
  props: {
    baseFilter: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      entityName: ZONE_ENTITY_NAME,
      fields: zoneFields,
      columns: zoneColumns,
      filterFields: zoneFilterFields,

    }
  },
  computed: {
    ...CurrentUser,
  }
}
</script>
<style scoped>

</style>
