<template>
  <q-card class="bg-white q-pa-none full-width">
    <canvas ref="chartCanvas"></canvas>
  </q-card>
</template>

<script>
import Chart from 'chart.js/auto';

export default {
  name: 'ZoneChart',
  props: {
    chartData: {
      type: Object,
      required: true
    }
  },
  mounted() {
    this.renderChart();
  },
  methods: {
    renderChart() {
      const ctx = this.$refs.chartCanvas.getContext('2d');
      const chartData = this.chartData;
      const labels = Object.keys(chartData);
      const moistData = labels.map(hour => chartData[hour].Moist);
      const saturationData = labels.map(hour => chartData[hour].Saturation);
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [
            {
              label: 'Moisture',
              data: moistData,
              borderColor: 'rgba(75, 192, 192, 1)',
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderWidth: 1
            },
            {
              label: 'Water Saturation',
              data: saturationData,
              borderColor: 'rgba(255, 99, 132, 1)',
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderWidth: 1
            }
          ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
  }

}
</script>

