<template>

  <!-- Badges -->
  <zone-badges
    :irrigationTaskTotalInProgress="irrigationTaskTotalInProgress"
    :treesTotal="treesTotal"
    :irrigationTaskTotalCompleted="irrigationTaskTotalCompleted"
    :zoneId="zoneId"
  ></zone-badges>
  <!-- Main -->
  <!-- first div with centered chart -->
  <div class="row justify-center my-4">
    <div class="col-md-8">
      <!-- Chart -->
      <q-card class="my-card">
        <q-card-section>
          <div class="justify-center text-center" style="font-size: 18px; font-weight: bold; margin-bottom: 10px;">
            {{ zoneName }}
          </div>
          <zone-chart v-if="chartDataLoaded" :chartData="chartData" chartType="line"></zone-chart>
        </q-card-section>
      </q-card>
    </div>
  </div>

  <!-- Second div with two tables -->
  <div class="row justify-right my-4">
    <div class="col-md-6" style="padding-right: 5px;">
      <!-- Sensors table -->
      <div style="font-size: 18px; font-weight: bold; margin-left: 20px;">Sensors</div>
      <sensor-table v-if="zoneDataLoaded" :baseFilter="{'zone_name': zoneName}"></sensor-table>
    </div>
    <div class="col-md-6" style="padding-left: 5px;">
      <!-- Water Switchers table -->
      <div style="font-size: 18px; font-weight: bold;">Water Switchers</div>
      <water-switcher-table v-if="zoneDataLoaded" :baseFilter="{'zone_name': zoneName}"></water-switcher-table>
    </div>
  </div>
  <br>
  <br>
  <br>
</template>

<script>
import SensorTable from "src/apps/sensors/components/SensorTable.vue";
import ZoneBadges from "src/apps/zones/components/ZoneBadges.vue";
import ZoneChart from "src/apps/zones/components/ZoneChart.vue";
import ApiServices from "src/services/ApiServices";
import {ZONE_ENTITY_NAME} from "src/store/Entity/mutation-types";
import WaterSwitcherTable from "src/apps/water_switcher/components/WaterSwitcherTable.vue";

export default {
  name: 'ZoneDetails',
  components: {WaterSwitcherTable, SensorTable, ZoneChart, ZoneBadges},
  props: {
    zoneId: {
      type: Number,
      required: true
    },
  },
  data() {
    return {
      zoneName: "",
      treesTotal: 0,
      irrigationTaskTotalInProgress: 0,
      irrigationTaskTotalCompleted: 0,
      chartData: {},
      chartDataLoaded: false, // Flag to indicate if chart data has loaded
      zoneDataLoaded: false, // Flag to indicate if zone data has loaded
    };
  },
  mounted() {
    this.fetchZoneData();
  },
  methods: {
    async fetchZoneData() {
      try {
        const response = await ApiServices.getByEntityName(this.zoneId, ZONE_ENTITY_NAME);
        const data = response.data;
        this.zoneName = data.zone_name;
        this.zoneDataLoaded = true;
        await this.fetchStatsData();
      } catch (error) {
        console.error('Error fetching zone data:', error);
      }
    },
    async fetchStatsData() {
      try {
        const response = await ApiServices.getStatsByEntityName(ZONE_ENTITY_NAME, this.zoneName);
        const data = response.data;
        this.treesTotal = data.total_trees;
        this.irrigationTaskTotalInProgress = data.total_irrigation_tasks_in_progress;
        this.irrigationTaskTotalCompleted = data.total_irrigation_tasks_completed;
        this.chartData = data.chartData;
        this.chartDataLoaded = true;
      } catch (error) {
        console.error('Error fetching stats data:', error);
      }
    },
  }
};
</script>

<style scoped>
.my-card {
  margin-bottom: 40px; /* Add margin between cards */
}
</style>
