<template>
  <div class="q-pa-md example-row-all-breakpoints">
    <div class="row">
      <!-- irrigation Tasks Total Completed card -->
      <div class="col" style="padding-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-3 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Irrigation Tasks Completed </div>
            <div style="font-size: 14px;">Total: {{ irrigationTaskTotalCompleted }}</div>
          </q-card-section>
          <q-separator/>
          <q-card-actions align="right">
            <q-btn flat>
              <RouterLink :to="{name: 'irrigation-tasks', params: {zoneId:  zoneId}}"> Details</RouterLink>
            </q-btn>
          </q-card-actions>
        </q-card>

      </div>
      <!-- irrigation Tasks Total InProgress card -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-cyan-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Irrigation Tasks In Progress</div>
            <div style="font-size: 14px;">Total: {{ irrigationTaskTotalInProgress }}</div>
          </q-card-section>
          <q-separator/>

          <q-card-actions align="right">
            <q-btn flat>
              <RouterLink :to="{ name: 'irrigation-tasks', params: { zone: zoneId } }"> Details</RouterLink>
            </q-btn>

          </q-card-actions>
        </q-card>

      </div>
      <!-- sensors Total card -->
      <div class="col" style="padding-right: 5px;">
        <q-card class="my-card">
          <!--           Card 1 content-->
          <q-card-section class="bg-indigo-10 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Trees</div>
            <div style="font-size: 14px;">Total: {{ treesTotal }}</div>
          </q-card-section>

          <q-separator/>

          <q-card-actions align="right">
            <q-btn flat>
              <RouterLink :to="{name: 'trees', params: {zoneId:  zoneId}}"> Details</RouterLink>
            </q-btn>
          </q-card-actions>
        </q-card>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ZoneBadges',
  props: {
    zoneId: {
      type: Number,
      required: true
    },
    irrigationTaskTotalCompleted: {
      type: Number,
      required: true
    },
    treesTotal: {
      type: Number,
      required: true
    },
    irrigationTaskTotalInProgress: {
      type: Number,
      required: true
    }
  }
}
</script>
