<template>
  <q-page class="flex flex-center">
    <div class="q-gutter-md row" style="width: 300px">
        <img src="../assets/logo.png" width="500" height="500" alt="logo" >

      <div class="col-12">
      </div>
    </div>
  </q-page>
</template>

<script>
import {defineComponent} from 'vue'

export default defineComponent({
  name: 'IndexPage',
  data() {
    return {
      username: '',
      password: '',
      showPassword: false,
      loading: false,
    }
  },
  methods: {
    logout() {
      this.loading = true;
    },

  }
})
</script>
