<template>
  <q-layout class="bg-grey-2">
    <q-page-container>
      <q-page class=" q-gutter-md flex flex-center ">
        <div class="q-gutter-md">
          <q-form
            @submit="onSubmit"
            @reset="onReset"
            class=" row" style="width: 300px"
          >
            <div class="col-12 text-center">
              <img src="../assets/logo.png" width="120" height="120" alt="logo" style="margin-right: 20px">
            </div>
            <div class="col-12">
              <q-input rounded label="Username *" v-model="username"
                       :rules="[ val => val && val.length > 0 || 'This field is required' ]"/>
            </div>
            <div class="col-12">
              <q-input v-model="password" label="Password *" :type="showPassword ? 'text' : 'password'" lazy-rules
                       :rules="[ val => val && val.length > 0 || 'This field is required' ]">
                <template v-slot:append>
                  <q-icon :name="showPassword ? 'visibility' : 'visibility_off'" @click="showPassword = !showPassword"/>
                </template>
              </q-input>
            </div>
            <div class="col-12">
              <q-btn label="connexion" color="red" rounded type="submit" class="full-width justify-center "
                     style="padding-left: 15px"/>
            </div>

          </q-form>
          <div class="col-12">
          </div>
          <div class="col-12">
            <p class="text-center">Copyright &copy; Agri Smart {{ new Date().getFullYear() }} </p>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import {defineComponent} from 'vue'
import {CurrentUser} from "src/apps/users/store/helpers";
import {LOGIN} from "src/apps/users/mutation-types";

export default defineComponent({
  name: 'LoginPage',
  components: {},
  props: {
    redirect: {
      type: String,
      default: '/'
    }
  },
  data() {
    return {
      username: '',
      password: '',
      showPassword: false,
      tokenData: null,

    }
  },
  methods: {
    async login() {
      let data = {
        username: this.username,
        password: this.password
      }
      const isAuthenticated = await this.$store.dispatch(LOGIN, {data})
      if (isAuthenticated) {
        this.$router.push(this.redirect);
      }

    },

    onSubmit(evt) {
      evt.preventDefault()
      this.login()
    },
    onReset(evt) {
      evt.preventDefault()
      this.username = ''
      this.password = ''
    }
  },
  computed: {
    ...CurrentUser,
  }
})
</script>
