<template>
  <q-card>

    <q-card-section v-if="getLoggedUser" class="flex-center flex ">
      <div class="col-12">
        <QrcodeVue :value="getLoggedUser.auth_barcode" :size="100" level="M"/>
      </div>

    </q-card-section>
    <q-card-section class="flex-center flex ">
      <div class="col-12 flex-center">
        <span>Scannez ce code pour vous connecter</span><br>
        <small>( Si le QR ne marche pas, rechargez la page )
        </small>
      </div>
    </q-card-section>

  </q-card>
</template>

<script>
import QrcodeVue from "qrcode.vue";
import {CurrentUser} from "src/apps/users/store/helpers";

export default {
  name: "AuthToken",
  components: {QrcodeVue},
  computed: {
    ...CurrentUser
  },
  data() {
    return {
      token: '',
    }
  },
  created() {
    this.token = localStorage.getItem("access");
    this.token = JSON.parse(this.token).token;

  }
}
</script>

<style scoped>

</style>
