<template>
  <div class="q-pa-md example-row-all-breakpoints">
    <div class="row">
      <!-- Total Trees -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Trees</div>
            <div style="font-size: 14px;">{{ totalTrees }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- Total Varieties  -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Varieties</div>
            <div style="font-size: 14px;">{{ totalVarieties }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG Tree age -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Tree Average Age</div>
            <div style="font-size: 14px;">{{ treeAverageAge }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TreeBadges',
  props: {
    totalTrees: {
      type: Number,
      required: true
    },
    totalVarieties: {
      type: String,
      required: true
    },
    treeAverageAge: {
      type: String,
      required: true
    }
  }
}
</script>
