<template>

  <div class="q-pa-md">
    <EntityTable
      :entity-name="entityName"
      :fields="fields"
      :columns="columns"
      search-bar
      :searchLabel="'Search by Serial Number ...'"
      :filter-fields="filterFields"

      :allowAdd="getLoggedUser.is_superuser"
      :allow-update="getLoggedUser.is_superuser"
      :allow-delete="getLoggedUser.is_superuser"
    >
      <!-- Status Badge Template -->
      <template v-if="!$q.platform.is.mobile" v-slot:status="{row}">
        <q-badge v-if="row.status === 'active'" outline color="green" label="Active"/>
        <q-badge v-else-if="row.status === 'inactive'" outline color="grey" label="Inactive"/>
        <q-badge v-else outline color="grey" label="Unknown Status"/>
      </template>
    </EntityTable>
  </div>
</template>
<script>
import EntityTable from "components/entity/EntityTable.vue";
import {CurrentUser} from "src/apps/users/store/helpers";
import {treeColumns} from "src/apps/tree/admin/tree";
import {treeFields, treeFilterFields} from "src/apps/tree/models/tree";
import {TREE_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: 'TreeTable',
  methods: {},
  components: {EntityTable},
  props: {
    baseFilter: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      entityName: TREE_ENTITY_NAME,
      fields: treeFields,
      columns: treeColumns,
      filterFields: treeFilterFields,

    }
  },
  computed: {
    ...CurrentUser,
  }
}
</script>
<style scoped>

</style>
