<template>
  <div class="q-pa-md example-row-all-breakpoints">
    <div class="row">
      <!-- Total Users -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Users</div>
            <div style="font-size: 14px;">{{ total_users }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- Total SuperUsers -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total SuperUsers</div>
            <div style="font-size: 14px;"><b>Owners : </b>{{ total_owners }} &nbsp;&nbsp; <b>Admins
              : </b>{{ total_admins }}
            </div>
          </q-card-section>
        </q-card>
      </div>
      <!-- Total Workers -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Workers</div>
            <div style="font-size: 14px;">{{ total_workers }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- Total Engineers -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Engineers</div>
            <div style="font-size: 14px;">{{ total_engineers }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UsersBadges',
  props: {
    total_users: {
      type: Number,
      required: true
    },
    total_owners: {
      type: Number,
      required: true
    },
    total_admins: {
      type: Number,
      required: true
    },
    total_workers: {
      type: Number,
      required: true
    },
    total_engineers: {
      type: Number,
      required: true
    }
  }
}
</script>

<style scoped>
.card h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.card p {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}
</style>
