<template>

  <div class="q-pa-md">
    <EntityTable
      :entity-name="entityName"
      :fields="fields"
      :columns="columns"
      search-bar
      :filter-fields="filterFields"
      :searchLabel="'Search by Username ...'"
      :allowAdd="getLoggedUser.is_superuser"
      :allow-update="getLoggedUser.is_superuser"
      :allow-delete="getLoggedUser.is_superuser">
      <template v-if="!$q.platform.is.mobile" v-slot:created_at="{row}">
        {{ row.created_at.slice(0, 10) }}
      </template>
      <template v-if="!$q.platform.is.mobile" v-slot:is_active="{row}">
        <q-badge v-if="row.is_active" outline color="green" label="Actif"/>
        <q-badge v-else outline color="grey" label="Inactif"/>
      </template>
      <template v-if="!$q.platform.is.mobile" v-slot:is_superuser="{row}">
        <q-badge v-if="row.is_superuser" color="green"/>
        <q-badge v-else color="grey"/>

      </template>

    </EntityTable>
  </div>
</template>
<script>
import EntityTable from "components/entity/EntityTable.vue";
import {USER_ENTITY_NAME} from "src/store/Entity/mutation-types";
import {userColumns} from "src/apps/users/admin/user";
import {userFields, userFilterFields} from "src/apps/users/models/user";
import {CurrentUser} from "src/apps/users/store/helpers";

export default {
  name: 'UserTable',
  methods: {},
  components: {EntityTable},
  props: {
    baseFilter: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      entityName: USER_ENTITY_NAME,
      fields: userFields,
      columns: userColumns,
      filterFields: userFilterFields


    }
  },
  computed: {
    ...CurrentUser,
  }
}
</script>
<style scoped>

</style>
