<template>
  <q-list>
    <EssentialLink

      v-for="link in essentialLinks"
      :key="link.title"
      :title="link.title"
      v-bind="link"
    />
  </q-list>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";
import {CurrentUser} from "src/apps/users/store/helpers";

export default {
  name: "LeftNavigationMenu",
  components: {
    EssentialLink
  },
  data() {
    return {
      essentialLinksList: [
        {
          title: "Dashboard",
          caption: "Dashboard",
          icon: "home",  // Home icon for dashboard
          link: "/farm"
        },
        {
          title: "Zones",
          caption: "Zones",
          icon: "widgets",  // Icon for zones
          link: "/zones"
        },
        {
          title: "Irrigation Tasks",
          caption: "Irrigation Tasks",
          icon: "opacity",  // Icon representing water for irrigation tasks
          link: "/irrigation-tasks"
        },
        {
          title: "Sensors",
          caption: "Sensors",
          icon: "sensors",  // Icon for sensors
          link: "/sensors"
        },
        {
          title: "Water Switchers",
          caption: "Water Switchers",
          icon: "water_damage",  // Icon for water management
          link: "/water-switcher"
        },
        {
          title: "Water Sources",
          caption: "Water Sources",
          icon: "local_drink",  // Icon representing water source
          link: "/water-source"
        },
        {
          title: "Trees",
          caption: "Trees",
          icon: "nature",  // Icon representing trees or nature
          link: "/trees"
        },
        {
          title: "Users",
          caption: "Users",
          icon: "manage_accounts",  // Appropriate icon for users
          link: "/users"
        },
      ],
      adminList: ["Users"]
    };
  },

  computed: {
    ...CurrentUser,
    essentialLinks() {
      if (this.getLoggedUser.is_active) {
        return this.essentialLinksList;
      } else {
        return this.essentialLinksList.filter(
          link => !this.adminList.includes(link.title) //#TODO logic for the admin view
        );
      }
    }
  },
}
</script>

