<template>

  <q-tabs
    dense
    no-caps
    v-model="tab"
    inline-label
    class="bg-red text-white shadow-4 col-11"
  >
    <strong>
      Filtrer par mois:
    </strong>
    <q-tab v-for="month in months" :label="month.label" :key="month.value"
           :name="month.value"
           @click="filter(month.value)"
    />
    <q-select class="col-1"
              v-model="year" :options="years" label="Année" dense
              label-color="white"
              emit-value
    />
  </q-tabs>
</template>
<script>
import {EntityListActions} from "src/store/Entity/helpers";

let date = new Date();
export default {
  name: "RapidMonthFilter",
  components: {},
  data() {
    return {
      months: [
        {value: 1, label: 'Janvier'},
        {value: 2, label: 'Février'},
        {value: 3, label: 'Mars'},
        {value: 4, label: 'Avril'},
        {value: 5, label: 'Mai'},
        {value: 6, label: 'Juin'},
        {value: 7, label: 'Juillet'},
        {value: 8, label: 'Aout'},
        {value: 9, label: 'Septembre'},
        {value: 10, label: 'Octobre'},
        {value: 11, label: 'Novembre'},
        {value: 12, label: 'Decembre'},
      ],
      tab: 1,
      years: [],
      year: date.getFullYear()

    }
  },
  props: {
    entityName: {
      type: String,
      required: true
    },
    fieldName: {
      type: String,
      required: false,
      default: "created_at_date"
    }

  },
  computed: {},
  created() {
    //get current month

    this.tab = date.getMonth() + 1

    //get years from 2017 to current year
    for (let i = 2017; i <= this.year; i++) {
      this.years.push({label: i, value: i})
    }
  },
  methods: {
    ...EntityListActions,
    async filter(month) {

      let data = {[this.fieldName + "__month"]: month, [this.fieldName + "__year"]: this.year}
      await this.GET_ENTITY_LIST({
        entityName: this.entityName,
        filter: data,
      })
      this.$emit("filterData", {
          month: month,
          year: this.year
        }
      );
      this.$emit("updated");


    }

  },
  watch: {
    year() {
      this.filter(this.tab)
    }
  }
}

</script>

<style scoped>

</style>
