<template>
  <div class="statKpi  ">
    <q-card class="kpiCard">
      <div class="singleStat">
        <slot name="singleStat"></slot>
      </div>

      <div class="doubleStat">
        <slot name="doubleStat"></slot>
      </div>
      <span class="title">
      {{ title }} <br>
    </span>
      <div style="text-align: center">
        <slot name="details"></slot>
      </div>

    </q-card>
  </div>
</template>

<script>
import {defineComponent} from 'vue'

export default defineComponent({
  name: 'StatKpi',
  props: {
    title: {
      type: String,
      required: true,
    },

  },
})
</script>
<style scoped>
.statKpi {
  padding: 0.5vh;
  height: 19vh;
  text-align: center;;

}

.kpiCard {
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
  padding: 2vh;

}

.kpiCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: gray;
}

.singleStat {
  font-size: 30px;
  font-weight: bold;
}

.doubleStat {
  font-size: 17px;
  font-weight: bold;
}
</style>

