<template>
  <div class="q-pa-md example-row-all-breakpoints">
    <div class="row">
      <!-- Total Irrigation's tasks -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Tasks</div>
            <div style="font-size: 14px;">{{ totalTasks }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per month -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Average Tasks per month</div>
            <div style="font-size: 14px;">{{ averageTasksPerMonth }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per Zone -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Average Tasks per zone</div>
            <div style="font-size: 14px;">{{ averageTasksPerZone }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IrrigationTasksBadges',
  props: {
    totalTasks: {
      type: Number,
      required: true
    },
    averageTasksPerMonth: {
      type: Number,
      required: true
    },
    averageTasksPerZone: {
      type: Number,
      required: true
    }
  }
}
</script>
