<template>
  <q-card class="bg-white q-pa-none full-width">
    <q-card-section class="chart-container">
      <canvas ref="chartCanvas"></canvas>
    </q-card-section>
  </q-card>
</template>

<script>
import Chart from 'chart.js/auto';

export default {
  name: 'IrrigationTasksChart',
  props: {
    chartData: {
      type: Object,
      required: true
    },
    barColors: {
      type: Array,
      default: () => ['#3e95cd', '#8e5ea2', '#3cba9f', '#e8c3b9', '#c45850', '#FF5733', '#FFBD33', '#33FF57', '#33FFBD']
    }
  },
  mounted() {
    this.createChart();
  },
  methods: {
    createChart() {
      const ctx = this.$refs.chartCanvas;
      const months = Object.keys(this.chartData);
      const zones = Object.keys(this.chartData[months[0]]); // Get zones from the first month
      const datasets = zones.map((zone, index) => ({
        label: zone,
        backgroundColor: this.barColors[index] || '#' + Math.floor(Math.random() * 16777215).toString(16), // Use provided color or random color
        data: months.map(month => this.chartData[month][zone])
      }));

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: months,
          datasets: datasets
        },
        options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Month'
          }
        },
        y: {
          title: {
            display: true,
            text: 'Irrigation Tasks Number'
          }
        }
      }
      }
      });
    }
  }
}
</script>

<style scoped>
.chart-container {
  height: 100%; /* Fill entire card height */
}
</style>
