<template>

  <div class="q-pa-md">
    <EntityTable
      :entity-name="entityName"
      :fields="fields"
      :columns="columns"
      search-bar
      :filter-fields="filterFields"

      :searchLabel="'Search by Zone Name ...'"
      :allowAdd="false"
      :allow-update="false"
      :allow-delete="false"
    >
      <!-- Status Badge Template -->
      <template v-if="!$q.platform.is.mobile" v-slot:status="{row}">
        <q-badge v-if="row.status === 'in progress'" outline color="blue" label="In Progress"/>
        <q-badge v-else-if="row.status === 'completed'" outline color="green" label="Completed"/>
        <q-badge v-else-if="row.status === 'canceled'" outline color="red" label="Canceled"/>
        <q-badge v-else-if="row.status === 'pending'" outline color="orange" label="Pending"/>
        <q-badge v-else outline color="grey" label="Unknown Status"/>
      </template>
    </EntityTable>
  </div>
</template>
<script>
import EntityTable from "components/entity/EntityTable.vue";
import {irrigationColumns} from "src/apps/irrigation-tasks/admin/irrigation-tasks";
import {irrigationFFilterFields, irrigationFields} from "src/apps/irrigation-tasks/models/irrigation-tasks";
import {CurrentUser} from "src/apps/users/store/helpers";
import {IRRIGATION_TASKS_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: 'IrrigationTasksTable',
  components: {EntityTable},
  props: {
    baseFilter: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      entityName: IRRIGATION_TASKS_ENTITY_NAME,
      fields: irrigationFields,
      columns: irrigationColumns,
      filterFields: irrigationFFilterFields


    }
  },
  computed: {
    ...CurrentUser,
  }
}
</script>
<style scoped>

</style>
