<template>

  <div class="q-pa-md">
    <EntityTable
      :entity-name="entityName"
      :fields="fields"
      :columns="columns"
      search-bar
      :base-filter="baseFilter"
      :filter-fields="filterFields"
      :searchLabel="'Search by Serial Number ...'"
      :allowAdd="getLoggedUser.is_superuser"
      :allow-update="getLoggedUser.is_superuser"
      :allow-delete="getLoggedUser.is_superuser"
    >
      <!-- Status Badge Template -->
      <template v-if="!$q.platform.is.mobile" v-slot:is_active="{row}">
        <q-badge v-if="row.is_active" outline color="green" label="Actif"/>
        <q-badge v-else outline color="grey" label="Inactif"/>
      </template>
    </EntityTable>
  </div>
</template>
<script>
import EntityTable from "components/entity/EntityTable.vue";
import {CurrentUser} from "src/apps/users/store/helpers";
import {sensorFields, sensorsFilterFields} from "src/apps/sensors/models/sensor";
import {sensorColumns} from "src/apps/sensors/admin/sensor";
import {SENSOR_ENTITY_NAME} from "src/store/Entity/mutation-types";

export default {
  name: 'SensorTable',
  props: {
    baseFilter: {
      type: Object,
      default: () => {
        return {}
      }
    },
  },
  components: {EntityTable},
  data() {
    return {
      entityName: SENSOR_ENTITY_NAME,
      fields: sensorFields,
      columns: sensorColumns,
      filterFields: sensorsFilterFields

    }
  },
  computed: {
    ...CurrentUser,
  }
}
</script>
<style lang="scss">
.my-sticky-virtscroll-table {
  max-height: 70vh; /* Adjust the value to your desired height */
}

.q-table__top,
.q-table__bottom,
thead tr:first-child th {
  background-color: #fff;
}

thead tr th {
  position: sticky;
  z-index: 1;
}

thead tr:last-child th {
  top: 40px; /* Adjust the top position if necessary */
}

thead tr:first-child th {
  top: 0;
}
</style>
