<template>
  <div class="q-pa-md example-row-all-breakpoints">
    <div class="row">
      <!-- Total Irrigation's tasks -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Total Sensors</div>
            <div style="font-size: 14px;">{{ totalSensors }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per month -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-teal-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Assigned Sensors</div>
            <div style="font-size: 14px;">{{ assignedSensors }}</div>
          </q-card-section>
        </q-card>
      </div>
      <!-- AVG per Zone -->
      <div class="col" style="margin-right: 5px;">
        <q-card class="my-card">
          <q-card-section class="bg-red-4 text-white" style="padding: 10px 20px;">
            <div style="font-size: 18px; font-weight: bold;">Non Assigned Sensors</div>
            <div style="font-size: 14px;">{{ nonAssignedSensors }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SensorBadges',
  props: {
    totalSensors: {
      type: Number,
      required: true
    },
    assignedSensors: {
      type: Number,
      required: true
    },
    nonAssignedSensors: {
      type: Number,
      required: true
    }
  }
}
</script>
