<template>
  <router-view/>
</template>

<script>
import {defineComponent} from 'vue'
import axios from "axios";
import {VERIFY_TOKEN} from "src/apps/users/mutation-types";
import {EntityListActions} from "src/store/Entity/helpers";
import {CurrentUser} from "src/apps/users/store/helpers";

axios.defaults.baseURL = process.env.API_BASE_URL;
export default defineComponent({
  name: 'App',
  data() {
    return {}
  },
  async created() {
    let isAuth = await this.$store.dispatch(VERIFY_TOKEN)
    if (!isAuth) {
      this.$router.push({name: "login"});
    }


  },
  methods: {
    ...EntityListActions,
  },
  computed: {
    ...CurrentUser
  }
})
</script>
