<template>
  <router-view/>
</template>
<script>
import {CurrentUser} from "src/apps/users/store/helpers";
import {LOAD_ESSENTIAL_DATA} from "src/apps/users/mutation-types";
import {EntityList} from "src/store/Entity/helpers";

export default {
  name: "ContainerRouter",
  computed: {
    ...CurrentUser,
    ...EntityList,
  },
  created() {
    this.$store.dispatch(LOAD_ESSENTIAL_DATA)

  }
}
</script>


<style scoped>

</style>
