<template>
  <q-layout v-if="getIsAuthenticated" view="hHh lpR lFf">
    <q-header elevated class="bg-light-blue-5 text-white">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title>
          Menu
        </q-toolbar-title>
        <div>
          <q-avatar>
            <img src="../assets/user-logo.png" alt="user avatar"/>
            <q-menu fit>
              <q-list style="min-width: 30vh">
                <q-item>
                  <q-item-section>
                    <strong v-if="getLoggedUser">
                      {{ getLoggedUser.first_name }} {{ getLoggedUser.last_name }}
                    </strong>
                  </q-item-section>
                </q-item>
                <hr/>
                <q-item clickable @click="logout">
                  <q-item-section>Log out</q-item-section>
                </q-item>
                <q-separator/>
              </q-list>
            </q-menu>
          </q-avatar>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      side="left"
      class="shadow-7 left-drawer"
      :width="200"
    >
      <LeftNavigationMenu/>
    </q-drawer>

    <q-page-container class="bg-grey-3 scrolling-content">
      <ContainerRouter/>

      <q-dialog
        v-model="dialog"
        persistent
        :maximized="maximizedToggle"
        transition-show="slide-up"
        transition-hide="slide-down"
      >
      </q-dialog>
    </q-page-container>

    <q-dialog v-model="qrDialog">
      <AuthToken/>
    </q-dialog>

    <q-footer reveal class="bg-light-blue-5 text-white">
      <q-toolbar>
        <q-toolbar-title>
          <div>
            <center>Copyright &copy; Agri Smart {{ new Date().getFullYear() }}</center>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import {defineComponent, ref} from 'vue';
import {CurrentUser} from "src/apps/users/store/helpers";
import {LOGOUT} from "src/apps/users/mutation-types";
import LeftNavigationMenu from "components/LeftNavigationMenu.vue";
import {EntityList, EntityListActions} from "src/store/Entity/helpers";
import AuthToken from "src/apps/users/AuthToken.vue";
import ContainerRouter from "layouts/ContainerRouter.vue";

export default defineComponent({
  name: 'MainLayout',
  components: {ContainerRouter, AuthToken, LeftNavigationMenu},
  data() {
    return {
      dialog: false,
      maximizedToggle: true,
      qrDialog: false,
      openingDoor: false,
    }
  },
  setup() {
    const leftDrawerOpen = ref(false);
    return {
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      }
    }
  },
  computed: {
    ...CurrentUser,
    ...EntityList,
  },
  methods: {
    ...EntityListActions,
    async logout() {
      await this.$store.dispatch(LOGOUT);
    },
  }
});
</script>

<style>
.scrolling-content {
  height: 94vh;
  max-height: 94vh;
  overflow-y: auto;
}
</style>
