<template>
  <q-select
    :model-value="model"
    use-input
    fill-input
    :hide-selected="!multiple"
    input-debounce="0"
    emit-value
    :options="options"
    map-options
    @filter="filterFn"
    @input-value="setModel"
    :label="label"
    :rules="rules"
    :multiple="multiple"
    :use-chips="multiple"


  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          No results
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script>


export default {
  name: 'AutocompleteSelect',
  props: {
    optionsList: {
      type: Array,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    rules: {
      type: Array,
      required: false,
      default: () => []
    },
    multiple: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      model: null,
      options: [...this.optionsList]
    }
  },
  methods: {
    filterFn(val, update) {
      update(() => {
        const needle = val.toLocaleLowerCase()
        this.options = this.optionsList.filter(v => v.label.toLocaleLowerCase().indexOf(needle) > -1)
      })
    },
    setModel(val) {
      this.model = val
    }
  },
  created() {
  }

}
</script>
