<template>

  <div @click="focus">
    <div class="">
      <div class=" position-absolute">
        <q-form class="flex flex-center" @submit.prevent="save" style="position: relative;">
          <q-input
            label="Code barre"
            v-model="value"
            ref="input"
            style="width: 100px"

          />
        </q-form>
      </div>

      <div>
        <q-card class="  bg-grey-2" style="padding: 10px">

          <div class="row">
            <div class="col-6">
              <div class="flex flex-center">
                <q-icon name="barcode_reader" size="250px" color="grey"/>
              </div>

            </div>
            <div class="col-6">
              <div class="flex flex-center" style="margin-top: 3vh">
                <StreamBarcodeReader
                  @decode="updateValue"
                ></StreamBarcodeReader>
              </div>
            </div>
            <div class="col-12">
              <div class="flex flex-center text-grey-6">
                Scanner un code barre...
              </div>
            </div>
          </div>


        </q-card>
      </div>
    </div>
  </div>


</template>

<script>

import {StreamBarcodeReader} from "vue-barcode-reader";

export default {
  name: "BarCodeReader",
  components: {StreamBarcodeReader},
  data() {
    return {
      value: '',
    }
  },
  methods: {
    save() {
      this.$emit('scanned', this.value)
      this.value = ''
    },
    focus() {
      this.$refs.input.focus()
    },
    updateValue(val) {
      this.value = val
      this.save()
    }
  },
  created() {
    this.$nextTick(() => {
      this.$refs.input.focus()
    })
  },


}
</script>

<style scoped>
.position-absolute {
  position: absolute;

}
</style>
