<script>
import {formatDateTime} from "src/plugins/DateTime";
import {Users} from "src/apps/users/store/helpers";

export default {
  name: "CreatedByAndTime",
  props: {
    entity: {
      type: Object,
      required: true
    },
  },
  methods: {
    formatDateTime
  },
  computed: {
    ...Users
  }
}
</script>

<template>
  <strong>{{ getUserFullNameById(entity.created_by) }}</strong> <br>
  Le <small>{{ formatDateTime(entity.created_at) }}</small>
</template>

<style scoped>

</style>
