<template>
  <div>
    <q-form ref="form" @submit.prevent="submit">
      <div v-if="instance" class="row q-col-gutter-x-xs ">
        <div class="col-6" v-for="field in fields" :key="field.name">
          <div class="my-content">
            <q-select v-if="field.type==='select'"
                      v-model="instance[field.name]"
                      :label="field.label"
                      :options="field.options"
                      map-options emit-value/>
            <q-input v-else-if="field.type==='date'"
                     v-model="instance[field.name]"
                     :hint="field.label"
                     :type="field.type"
            >
            </q-input>
            <q-input v-else v-model="instance[field.name]" :label="field.label"
                     dense
                     :type="field.type"
            />
          </div>
        </div>

        <div class="col-12  " style="margin-bottom: 35px; margin-top: 25px">
          <div class="my-content float-right">
            <q-btn color="red" :loading="loading" type="submit" label="filtrer" icon="search"/>

          </div>
        </div>
      </div>

    </q-form>
  </div>

</template>

<script>

import {createCopy} from "src/plugins/HelpersFunctions";

export default {
  name: "FormGenerator2",
  components: {},
  props: {
    fields: {
      type: Array,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      instance: null


    }
  },
  created() {
    //create instance from fields
    this.instance = {}
    this.fields.forEach(field => {
      this.instance[field.name] = null
    })
  },
  methods: {
    submit() {
      let filter = createCopy(this.instance)
      Object.keys(filter).forEach(key => {
        if (filter[key] == null) {
          delete filter[key]
        }
      })
      this.$emit('filter', filter);
    }
  }

}
</script>

<style scoped>

</style>
