<template>
  <div>
    <div v-if="profilePicture" class="row justify-center">
      <div>
        <ProfilePicture v-if="!loading" size="150" buttonSize="sm"
                        :picture="data[profilePicture.name]" @onChanged="setProfilePicture"/>
        <!--        loading-->
        <div v-else class="row justify-center">
          <q-spinner-dots size="50px" color="red"/>
        </div>
      </div>
    </div>
    <q-form ref="form" @submit.prevent="save">
      <div v-if="instance" class="row q-col-gutter-x-xs ">
        <div class="col-12" v-for="field in entityFields" :key="field.name">
          <div class="my-content">
            <q-select v-if="field.type==='select'" v-model="instance[field.name]" :label="field.label"
                      :options="field.options"
                      :rules="field.rules"
                      map-options emit-value/>
            <q-input v-else-if="field.type==='date'"
                     v-model="instance[field.name]"
                     :hint="field.label"
                     :rules="field.rules"
                     :type="field.type">
            </q-input>
            <q-input v-else-if="field.type !== 'profilePicture'" v-model="instance[field.name]" :label="field.label"
                     dense
                     :type="field.type"
                     :rules="field.rules" lazy-rules/>
          </div>
        </div>
        <div class="col-12 " style="margin-bottom: 35px">
          <div class="my-content float-right">
            <q-btn v-if="data.id" color="red" :loading="loading" type="submit" label="Enregistrer"/>
            <q-btn v-else color="red" :loading="loading" type="submit" dense label="Ajouter"/>
          </div>
        </div>
      </div>

    </q-form>
  </div>

</template>

<script>
import {createCopy} from "src/plugins/HelpersFunctions";
import ProfilePicture from "components/global/ProfilePicture.vue";
import {dangerNotify} from "src/plugins/Notify";

export default {
  name: "FormGeneratorNew",
  components: {ProfilePicture},
  props: {
    fields: {
      type: Array,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    cachedFields: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data() {
    return {
      instance: null,
      profilePicture: null,
      profilePictureFile: null,
      profilePictureUrl: null,
      entityFields: null,


    }
  },
  created() {
    this.instance = createCopy(this.data);
    this.entityFields = this.fields.filter(field => !this.cachedFields.includes(field.name));

    //check if there is a field with type profilePicture
    this.entityFields.forEach(field => {
      if (field.type === "profilePicture") {
        this.profilePicture = field;
        this.profilePictureUrl = this.data[field.name];
      }
    })
    //delete profilePicture from instance
    if (this.profilePicture) {
      delete this.instance[this.profilePicture.name];
    }

    if (this.data.id) {
      //remove onlyOnCreate fields
      this.entityFields = this.entityFields.filter(field => !field.onlyOnCreate);
    }


    //keep only entityFields in entityFields
    Object.keys(this.instance).forEach(key => {
      if (!this.entityFields.find(field => field.name === key) && !this.cachedFields.includes(key)) {
        delete this.instance[key];
      }
    })
  },
  methods: {
    save() {
      //form validation
      if (this.$refs.form.validate()) {
        //check if there is a profilePicture
        if (this.profilePicture &&
          this.profilePicture.required &&
          !this.profilePictureFile &&
          !this.profilePictureUrl) {
          dangerNotify("Vous devez ajouter une photo");
          return;
        }
        if (this.profilePictureFile && this.profilePicture) {
          const formData = new FormData();
          formData.append(this.profilePicture.name, this.profilePictureFile);
          //add the instance to formData
          Object.keys(this.instance).forEach(key => {
            formData.append(key, this.instance[key]);
          })
          this.$emit("save", formData);
          return;
        }
        this.$emit('save', this.instance);
      }

    },
    setProfilePicture(file) {
      this.profilePictureFile = file;
    }
  },
  unmounted() {
    this.instance = null;
  }
}
</script>

<style scoped>

</style>
