<template>
  <div>
    <div v-if="loadingOptions" class="row justify-center">
      <q-spinner size="80px" color="red"/>
    </div>

    <q-form v-else ref="form" @submit.prevent="save">

      <div class="row q-col-gutter-x-xs ">

        <div :class="cols" v-for="field in entityFields" :key="field.name">
          <div v-if="!field.condition || field.condition(instance)" class="my-content">

            <AutocompleteSelect v-if="field.type === 'select' || field.type === 'selectMultiple'"
                                :optionsList=" field.entityName ? options[field.entityName]: field.options"
                                :label="field.label"
                                :rules="field.rules"
                                v-model="instance[field.name]"
                                :multiple="field.type === 'selectMultiple'"

            ></AutocompleteSelect>


            <!--            <q-input v-else-if="field.type==='date'"-->
            <!--                     v-model="instance[field.name]"-->
            <!--                     :hint="field.label"-->
            <!--                     :rules="field.rules"-->
            <!--                     :type="field.type">-->
            <!--            </q-input>-->

            <q-input v-else-if="field.type==='date'"
                     v-model="dates[field.name]"
                     :label="field.label"
                     :rules="field.rules">
              <q-popup-proxy>
                <q-date v-model="instance[field.name]"
                        mask="YYYY-MM-DD"
                        color="red"
                        @update:model-value="handleDate(field.name)"
                        :range="!!field.range"
                >
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="red" flat/>
                  </div>
                </q-date>
              </q-popup-proxy>
              <!--              icon-->
              <template v-slot:append>
                <q-icon name="event"/>
              </template>
            </q-input>

            <q-toggle v-else-if="field.type === 'boolean' "
                      v-model="instance[field.name]"
                      :label="field.label"
                      color="green"
            />
            <div class="row justify-center"
                 v-else-if="field.type === 'image' ">
              <!--              TODO:handle the warning-->
              <ImageFiled :image="instance[field.name]"
                          :name="field.name"
                          :label="field.label"
                          @onChanged="addFile"
                          @reset="removeFile"
              />

            </div>
            <q-input v-else-if="field.type === 'barecode'"
                     v-model="instance[field.name]"
                     :label="field.label"
                     dense
                     type="text"
                     :rules="field.rules"
                     lazy-rules>
              <template v-slot:before>
                <q-btn round dense flat
                       @click="showBarCodeReader = true; bareCodeField = field.name"
                       icon="qr_code_scanner"/>
              </template>
            </q-input>
            <q-input v-else-if="field.type === 'number'"
                     v-model="instance[field.name]"
                     :label="field.label"
                     dense
                     type="text"
                     :hint="field.hint || ''"
                     :rules="field.rules"
                     lazy-rules>
              <template v-slot:before>
                <q-btn round dense flat
                       @click="showKeyboard = true; numberField = field.name;numberLabel = field.label"
                       icon="keyboard_alt"/>
              </template>
            </q-input>
            <q-input v-else
                     v-model="instance[field.name]"
                     :label="field.label"
                     dense
                     :type="field.type"
                     :hint="field.hint || ''"
                     :rules="field.rules" lazy-rules/>

          </div>
        </div>
        <div class="col-12 q-ma-lg-md">
          <div v-if="btnLabel" class="my-content float-right">
            <q-btn color="red" :loading="loading" type="submit" :label="btnLabel"/>

          </div>
          <div v-else class="my-content float-right">
            <q-btn v-if="data.id" color="red" :loading="loading" type="submit" label="Enregistrer"/>
            <q-btn v-else color="red" :loading="loading" type="submit" dense label="Ajouter"/>
          </div>

        </div>
      </div>

    </q-form>
    <q-dialog v-model="showBarCodeReader">
      <div class="row justify-center">
        <BarCodeReader
          @scanned="setBareCodeValue($event)"
        ></BarCodeReader>
      </div>
    </q-dialog>
    <q-dialog v-model="showKeyboard">
      <div class="row justify-center">
        <NumericKeyboard class="col-8"
                         :text="numberLabel"
                         :init-value="instance[numberField] ? instance[numberField].toString(): '0'"
                         @changed="instance[numberField] = $event; showKeyboard = false"
        ></NumericKeyboard>
      </div>
    </q-dialog>
  </div>

</template>

<script>
import {createCopy} from "src/plugins/HelpersFunctions";
import ImageFiled from "components/global/ImageFiled.vue";
import {EntityList, EntityListActions} from "src/store/Entity/helpers";
import AutocompleteSelect from "components/global/AutocompleteSelect.vue";
import BarCodeReader from "components/global/BareCodeReader.vue";
import NumericKeyboard from "components/global/NumericKeyboard.vue";

export default {
  name: "FormGenerator",
  components: {NumericKeyboard, BarCodeReader, AutocompleteSelect, ImageFiled},
  props: {
    fields: {
      type: Array,
      required: true,
    },
    data: {
      type: Object,
      required: false,
      default: () => ({})
    },
    loading: {
      type: Boolean,
      default: false,
    },
    cachedFields: {
      type: Array,
      required: false,
      default: () => []
    },
    cols: {
      type: String,
      default: "col-12"
    },
    btnLabel: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      instance: null,
      entityFields: null,
      files: [],
      options: {},
      loadingOptions: true,
      showBarCodeReader: false,
      bareCodeField: null,
      showKeyboard: false,
      numberField: null,
      numberLabel: null,
      dates: {},

    }
  },
  async created() {
    this.instance = createCopy(this.data);
    this.entityFields = this.fields.filter(field => !this.cachedFields.includes(field.name));
    // if the instance is new
    if (this.data.id) {
      //remove onlyOnCreate fields
      this.entityFields = this.entityFields.filter(field => !field.onlyOnCreate);
    }
    //keep only the fields that are in the entity
    Object.keys(this.instance).forEach(key => {
      if (!this.entityFields.find(field => field.name === key) && !this.cachedFields.includes(key)) {
        delete this.instance[key];
      }
    })

    //TODO CHECK HEEERE SEIF
    // if field type is select and entityName is present, get the options from the server
    for (let i = 0; i < this.entityFields.length; i++) {
      const field = this.entityFields[i];
      // if field type is select and entityName is present and options does not contain the entityName
      if ((field.type === "select" || field.type === "selectMultiple") && field.entityName && !this.options[field.entityName]) {

        if (field.filter) {
          // destroy the existent select list for the entity
          await this.REMOVE_ENTITY_SELECT_LIST({entityName: field.entityName})
        }
        let selectList = await this.getEntitySelectList(field.entityName);
        if (selectList) {
          this.options[field.entityName] = selectList;
        } else {
          this.options[field.entityName] = await this.GET_ENTITY_SELECT_LIST({
            entityName: field.entityName,
            filter: field.filter
          });
        }
      }
    }
    this.loadingOptions = false;

    //for element in entityFields ,if type is 'date' date[field.name] = instance[field.name]
    this.entityFields.forEach(field => {
      if (field.type === "date") {
        this.dates[field.name] = this.instance[field.name];
      }
    })

  },
  methods: {
    ...EntityListActions,
    save() {
      //form validation
      if (this.$refs.form.validate() && this.validateFiles()) {
        //create copy of instance
        let instance = createCopy(this.instance);

        //clean instance
        this.cleanInstance(instance);
        //if filed type is image or file and it is required and there is no file in the list of files alert the user

        //remove filed with type image or file from instance
        this.entityFields.forEach(field => {
          if (field.type === "image" || field.type === "file") {
            delete instance[field.name];
          }
        })

        //if there is files, add them to formData
        if (this.files.length > 0) {
          const formData = new FormData();
          this.files.forEach(file => {
            formData.append(file.name, file.file);
          })
          //add the instance to formData
          Object.keys(instance).forEach(key => {
            formData.append(key, instance[key]);
          })
          this.$emit("save", formData);
          return;
        }
        //emit the instance if there is no files
        this.$emit('save', instance);
      }

    },
    cleanInstance(instance) {
      //form each field in instance,if the values is an object, remove the from and to keys
      Object.keys(instance).forEach(key => {
        if (typeof instance[key] === "object") {
          delete instance[key]
        }
      })

    },
    validateFiles() {
      if (this.data.id) return true

      for (let i = 0; i < this.entityFields.length; i++) {
        const field = this.entityFields[i];
        //if the field is required and it is image or file and there is no file in the list of files
        if ((field.type === "image" || field.type === "file") && field.required && !this.files.find(file => file.name === field.name)) {
          //alert the user
          this.$q.notify({
            message: `Le champ * ${field.label} * est obligatoire`,
            color: "red",
            icon: "warning",
            position: "bottom",
            timeout: 2000
          });
          return false;
        }
      }
      return true;

    },
    addFile(file) {
      //add file to the list of files : ex= file: {name: "picture", file: File}
      this.files.push(file)
    },
    removeFile(fileName) {
      //remove file from the list of file
      this.files = this.files.filter(file => file.name !== fileName)
    },
    setBareCodeValue(value) {
      this.instance[this.bareCodeField] = value;
      this.showBarCodeReader = false;
    },
    handleDate(name) {
      //if instance[name] is an Object, add to instance name+__gte = instance[name].from and name+__lte = instance[name].to
      // and convert instance[name] to string ' from - to'
      if (typeof this.instance[name] === "object") {
        this.instance[name + "__gte"] = this.instance[name].from;
        this.instance[name + "__lte"] = this.instance[name].to;
        this.dates[name] = `${this.instance[name].from} --> ${this.instance[name].to}`;
      } else {
        this.dates[name] = this.instance[name];
        delete this.instance[name + "__gte"];
        delete this.instance[name + "__lte"];
      }
    }

  },
  unmounted() {
    this.instance = null;
  },
  computed: {
    ...EntityList,
  },
  watch: {
    showBarCodeReader(value) {
      if (!value) {
        this.bareCodeField = null
      }
    },
    showKeyboard(value) {
      if (!value) {
        this.numberField = null
        this.numberLabel = null
      }
    }
  }
}
</script>

<style scoped>

</style>
