<template>
  <div>
    <q-avatar class=" flew flex-center" square size="110px" text-color="white">
      <img v-if="displayPhotoSrc" :src="displayPhotoSrc" alt="image">
      <q-btn v-if="displayPhotoSrc" round color="grey" :size="buttonSize"
             icon="flip_camera_ios"
             class="absolute-bottom-right"
             style="margin-bottom: 15px"
             @click="$q.platform.is.nativeMobile ? takeImage() : clickFileInput()"
      />
      <q-btn v-if="image !== displayPhotoSrc && image !== ''" round color="red" :size="buttonSize" icon="cancel"
             class="absolute-top-right"
             style="top: 15px"
             @click="resetImage">


      </q-btn>

    </q-avatar>
    <br>
    <span class=" flew flex-center">{{ label }}</span>
    <!--    change the pricture -->
    <q-file
      v-model="file"
      ref="fileInput"
      accept="image/*"
      @input="onInput"
      style="display:none;"
    />
  </div>

</template>

<script>
import {Camera, CameraResultType} from '@capacitor/camera';

export default {
  name: "ImageFiled",
  props: {
    image: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      default: "120",
    },
    buttonSize: {
      type: String,
      default: "sm",
    },
    label: {
      type: String,
      default: "Photo",
    },

  },
  created() {
    if (this.image !== "default") {
      this.displayPhotoSrc = this.image;
    }


  },
  data() {
    return {
      file: null,
      displayPhotoSrc: null,
    }
  },
  methods: {
    onInput(e) {
      const file = e.target.files[0];
      if (file) {
        //emit the file to the parent
        let _file = {
          name: this.name,
          file: file
        }
        this.$emit('onChanged', _file)
        this.displayPhotoSrc = window.URL.createObjectURL(file);
      }

    },
    clickFileInput() {
      this.$refs.fileInput.pickFiles();
    },
    resetImage() {
      this.displayPhotoSrc = this.image;
      this.$emit('reset', this.name);
    },
    b64toBlob(b64Data, contentType = '', sliceSize = 512) {
      const byteCharacters = atob(b64Data);
      const byteArrays = [];

      for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        const slice = byteCharacters.slice(offset, offset + sliceSize);

        const byteNumbers = new Array(slice.length);
        for (let i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        const byteArray = new Uint8Array(byteNumbers);
        byteArrays.push(byteArray);
      }

      return new Blob(byteArrays, {type: contentType});
    },
    async takeImage() {
      const image = await Camera.getPhoto({
        quality: 90,
        allowEditing: true,
        resultType: CameraResultType.Base64,
      });
      //convert the image to a file
      const blob = this.b64toBlob(image.base64String, 'image/jpeg');
      const file = new File([blob], 'image.jpeg', {type: 'image/jpeg'});
      this.displayPhotoSrc = window.URL.createObjectURL(file);
      let _file = {
        name: this.name,
        file: file
      }
      this.$emit('onChanged', _file)
    },
  }
}
</script>

<style scoped>

</style>
