<template>
  <q-card>

    <q-card-section>
      <i class="text-grey-7"> {{ text }}

      </i>
    </q-card-section>
    <q-separator/>
    <div class="row ">
      <div class="col-12">
        <div class="text-h6 number" style="padding: 3px">
          <q-form @submit.prevent="enter">
            <q-input style="font-size:50px;" v-model="value"></q-input>
          </q-form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8"
      >
        <div class="row">
          <div class="col-4 case" v-for="number in [1,2,3,4,5,6,7,8,9]" :key="number">
            <q-btn color="grey" glossy outline :label="number" class="full-width key"
                   @click="addNumber(number)"/>
          </div>
          <div class="col-4 case">
            <q-btn color="grey" glossy outline label="." class="full-width key" @click="addNumber('.')"/>
          </div>

          <div class="col-4 case">
            <q-btn color="grey" glossy outline label="0" class="full-width key" @click="addNumber('0')"/>
          </div>
          <div class="col-4 case">
            <q-btn color="grey" glossy outline label="#" class="full-width key"/>
          </div>

        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12 case">
            <q-btn color="grey" outline glossy
                   icon="backspace"
                   class="full-width key" @click="removeNumber()"/>
          </div>
          <div class="col-12 case">
            <q-btn color="grey"
                   glossy
                   icon="add"
                   class="full-width key" @click="increment()"/>
          </div>
          <div class="col-12 case">
            <q-btn color="grey"
                   class="full-width key" glossy
                   icon="remove"
                   :disabled="value === '0'"
                   @click="decrement()"/>
          </div>
          <div class="col-12 case">
            <q-btn glossy color="blue" label="OK" class="full-width key" @click="enter()"/>
          </div>

        </div>
      </div>
      <div class="col-12 case" v-if="allowRemove">
        <q-btn
          color="red" glossy
          icon="delete"
          class="full-width key "
          @click="$emit('remove')"
        />

      </div>
    </div>

  </q-card>
</template>

<script>

export default {
  name: "NumericKeyboard",
  props: {
    initValue: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    allowRemove: {
      type: Boolean,
      default: false,
    }

  },
  data() {
    return {
      value: this.initValue || '0',
    }
  },
  methods: {
    addNumber(number) {
      if (this.value === '0') {
        this.value = ''
      }
      if (number === '.' && this.value.includes('.')) {
        return
      }
      if (number === '.' && this.value === '') {
        this.value = '0'
      }
      if (number === '.' && this.value === '0') {
        this.value = '0'
      }
      this.value += number
    },
    removeNumber() {
      this.value = this.value.slice(0, -1)
      if (this.value === '') {
        this.value = '0'
      }
    },
    enter() {
      this.$emit('changed', this.value)
    },
    increment() {
      this.value = (parseFloat(this.value) + 1).toString()
    },
    decrement() {
      this.value = (parseFloat(this.value) - 1).toString()
    }
  }

}
</script>

<style scoped>
.number {
  font-family: "Courier New", Courier, monospace;
  font-size: 52px;
  font-weight: bold;

}

.case {
  padding: 3px;
}

q-input {
  font-size: 18px !important;
}

.key {
  height: 60px
}
</style>
