<template>
  <div>
    <q-avatar :size="size+'px'" text-color="white" class="shadow-5">
      <img v-if="displayPhotoSrc" :src="displayPhotoSrc" alt="picture">
      <img v-else src="~assets/new_user_avatar.png" alt="picture">
      <q-btn round color="grey" :size="buttonSize" icon="photo_camera" class="absolute-bottom-right"
             style="margin-bottom: 15px" @click="$q.platform.is.nativeMobile ? takePicture() : clickFileInput()"/>
      <q-btn v-if="picture !== displayPhotoSrc && picture !== ''" round color="red" :size="buttonSize" icon="cancel"
             class="absolute-top-right"
             style="top: 15px"
             @click="resetPicture">


      </q-btn>

    </q-avatar>
    <!--    change the pricture -->
    <q-file
      v-model="file"
      ref="fileInput"
      accept="image/*"
      @input="onInput"
      style="display:none;"
    />
  </div>

</template>

<script>
import {Camera, CameraResultType} from '@capacitor/camera';

export default {
  name: "ProfilePicture",
  props: {
    picture: {
      type: String,
      required: true,
    },
    size: {
      type: String,
      default: "150",
    },
    buttonSize: {
      type: String,
      default: "sm",
    },

  },
  created() {
    this.displayPhotoSrc = this.picture;

  },
  data() {
    return {
      file: null,
      displayPhotoSrc: null,
    }
  },
  methods: {
    onInput(e) {
      const file = e.target.files[0];
      if (file) {
        //emit the file to the parent
        this.$emit('onChanged', file);
        this.displayPhotoSrc = window.URL.createObjectURL(file);
      }

    },
    clickFileInput() {
      this.$refs.fileInput.pickFiles();
    },
    resetPicture() {
      this.displayPhotoSrc = this.picture;
      this.$emit('onChanged', null);
    },
    b64toBlob(b64Data, contentType = '', sliceSize = 512) {
      const byteCharacters = atob(b64Data);
      const byteArrays = [];

      for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        const slice = byteCharacters.slice(offset, offset + sliceSize);

        const byteNumbers = new Array(slice.length);
        for (let i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        const byteArray = new Uint8Array(byteNumbers);
        byteArrays.push(byteArray);
      }

      return new Blob(byteArrays, {type: contentType});
    },
    async takePicture() {
      const image = await Camera.getPhoto({
        quality: 90,
        allowEditing: true,
        resultType: CameraResultType.Base64,
      });
      //convert the image to a file
      const blob = this.b64toBlob(image.base64String, 'image/jpeg');
      const file = new File([blob], 'image.jpeg', {type: 'image/jpeg'});
      this.displayPhotoSrc = window.URL.createObjectURL(file);
      this.$emit('onChanged', file);
    },
  }
}
</script>

<style scoped>

</style>
