<template>
  <div>
    <q-input dense type="number" v-model="value" style="width: 50px"></q-input>
  </div>

</template>

<script>

export default {
  name: "StoreNumberInput",
  props: {
    initValue: {
      type: String,
      required: true,
    }

  },
  data() {
    return {
      value: this.initValue,
    }
  },
  watch: {
    value: function (val) {
      this.$emit('changed', val)
    },
    initValue: function (val) {
      this.value = val
    }
  },

}
</script>

<style scoped>

</style>
